.button {
    background: #42446E;
    border: 1px solid #42446E;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px 20px;
    min-width: 190px;
    min-height: 50px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
