footer .nav .list{
    justify-content: center;
}

footer .info{
    display: flex;
    justify-content: center;
}

footer .element{
    margin-right: 60px;
}
footer .element:last-child {
    margin-right: 0;
}

footer .info .list{
    display: flex;
    width: 120px;
    justify-content: space-between;
}

footer .info .list img{
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

footer .nav{
    margin-top: 10px ;
}

footer a{
    font-weight: 300;
    color: #42446E;
}

footer{
    padding-top: 20px;
    padding-bottom: 100px;
}

footer .info{
    margin-bottom: 20px;
}

footer .nav{
    margin-top: 30px;
}


footer hr{
    color: #EBEAED;
}

@media screen and (max-width: 768px) {
    .footer {
        padding-bottom: 50px; /* Уменьшаем отступ вниз для мобильных устройств */
    }

    .footer .info {
        flex-direction: column; /* Располагаем информацию в столбец */
        align-items: center; /* Выравниваем по центру */
    }

    .footer .info .list {
        width: auto; /* Автоматический размер для списка социальных медиа */
        margin-bottom: 20px; /* Добавляем отступ между соц. медиа и навигацией */
    }

    .footer .nav ul {
        flex-direction: column; /* Располагаем пункты меню в столбец */
        align-items: center; /* Выравниваем по центру */
    }

    .footer .nav .list .item {
        margin: 5px;
        padding: 0;
    }
    .footer .element {
        margin: 5px;
        padding: 0;
    }
    .footer .element.list {
        margin-top: 15px ;
    }
}
